
{{>nav}}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center g-2">
    <h2>Bienvenido {{user.first_name}} {{user.last_name}}, a Nuestra Tienda Virtual</h2>
  </div>
<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>
<p>Role: {{user.role}}</p>
<p>CartId: {{user.cart}}</p>
  
</div>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
